# SPDX-FileCopyrightText: 2026 Gregor Corbin <gregor.corbin@posteo.de>
#
# SPDX-License-Identifier: CC0-1.0
*
!*/

!./.gitignore
!README.md
!requirements.txt

!/*.py
!eigensynth/
!eigensynth/**/*.py
!LICENSES/*.txt
